
<h1>Customer</h1>

<label>Customer Name:</label> {{customerName}}
<br>
<label>Customer Address:</label> {{customerAddress}}
<br>
<br>
<button (click)="showDialog = !showDialog" class="btn">Edit</button>
<br>
<br>
 
<app-dialog [(visible)]="showDialog" >
    <h1>Edit Customer</h1>
    <label>Customer Name:</label> 
    <input type="text" id="customer-name-input" name="customerName" [(ngModel)]="customerName">
    <br>
    <label>Address:</label> 
    <input type="text" id="customer-address-input" name="customerAddress" [(ngModel)]="customerAddress" style='width:300px'>
    <br>
    <br>
    <button (click)="showDialog = !showDialog" class="btn">Save</button>
    <button (click)="showDialog = !showDialog" class="btn">Close</button>
  </app-dialog>