<h1>Presidents of the United States</h1>

<style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: grey;
            color: white;
        }
        </style>

<div >
    <div class="form-group">
            <div class="col-md-6">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search" />
            </div>
    </div>
    {{column}} : {{isDesc}}        
    <table id="customers" class="table table-responsive table-hover">
        <thead>
            <th class="pointer" (click)="sort('firstName')">First Name
                <i class="fa" [ngClass]="{'fa-sort': column != 'firstName', 'fa-sort-asc': (column == 'firstName' && isDesc), 'fa-sort-desc': 
                    (column == 'firstName' && !isDesc) }" aria-hidden="true"> </i>
            </th>
            <th class="pointer" (click)="sort('lastName')">Last Name
                <i class="fa" [ngClass]="{'fa-sort': column != 'lastName', 'fa-sort-asc': (column == 'lastName' && isDesc), 'fa-sort-desc': 
                    (column == 'lastName' && !isDesc) }" aria-hidden="true"> </i>
            </th>  
            <th class="pointer" (click)="sort('startDate')">Start Date
                <i class="fa" [ngClass]="{'fa-sort': column != 'startDate', 'fa-sort-asc': (column == 'startDate' && isDesc), 'fa-sort-desc': 
                    (column == 'startDate' && !isDesc) }" aria-hidden="true"> </i>
            </th>                        
            <th>Party</th> 
            <th>Birthday</th>
        </thead>
        <tbody>
            <tr *ngFor="let person of presidents | lastName: searchText | orderBy: {property: column, direction: direction, startPerson: startPerson, endPerson: endPerson}">
                    <td><a href="{{person.link}}">{{person.firstName}}</a></td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.startDate}}</td>
                    <td>{{person.party}}</td>
                    <td>{{person.birthday}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button #prevButton type="button" (click)="prevPage()">Prev</button>
    <button type="button" (click)="nextPage()">Next</button>
    <label for="current-page">page {{currentPage+1}}</label> 
    <label for="length"> of {{ceiling}}</label>   
    <input type="text" id="page-length" name="pageLength" [(ngModel)]="pageLength">

</div>

